/.idea/
/target/
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/test-classes/
/Lotto.iml
/out/
/lotto-engine/target/
/lotto-engine/out/
/lotto-engine.iml
/numbers-generator/target/
/numbers-generator/out/
/numbers-generator/numbers-generator.iml
/discovery-server-service.iml
/discovery-server-service/target/
/discovery-server-service/discovery-server-service.iml
/lotto-engine/lotto-engine.iml
/gateway-service.iml
/gateway-service/target/
/authentication-service.iml
/authentication-service/target/
.mvn/wrapper/maven-wrapper.jar